// general
button {
    border-radius: var(--chattyBorderRadius);
}
.lookOutlined__46d54.colorGreen__5f181 {
    background: #2f8f644a;
}
.lookOutlined__46d54.colorYellow-1pyJ1g {
    background: #d892194a;
}
.lookOutlined__46d54.colorLink_b651e5 {
    background: #00b0f44a;
}
.lookOutlined__46d54.colorPrimary__6ed40 {
    background: #ffffff4a;
}
.lookOutlined__46d54.colorRed_d6b062 {
    background: #f047474a;
}
.lookOutlined__46d54.colorWhite__69882 {
    background: #ffffff4a;
}
.lookOutlined__46d54.colorBrand_be5f58 {
    background: #7289da4a;
}
