// general
button {
    border-radius: var(--chattyBorderRadius);
}
.lookOutlined_dd4f85.colorGreen_dd4f85 {
    background: #2f8f644a;
}
.lookOutlined_dd4f85.colorYellow-1pyJ1g {
    background: #d892194a;
}
.lookOutlined_dd4f85.colorLink_dd4f85 {
    background: #00b0f44a;
}
.lookOutlined_dd4f85.colorPrimary_dd4f85 {
    background: #ffffff4a;
}
.lookOutlined_dd4f85.colorRed_dd4f85 {
    background: #f047474a;
}
.lookOutlined_dd4f85.colorWhite_fbc755 {
    background: #ffffff4a;
}
.lookOutlined_dd4f85.colorBrand_fbc755 {
    background: #7289da4a;
}
