// general
button {
    border-radius: var(--chattyBorderRadius);
}
.lookOutlined__014b5.colorGreen__75c93 {
    background: #2f8f644a;
}
.lookOutlined__014b5.colorYellow-1pyJ1g {
    background: #d892194a;
}
.lookOutlined__014b5.colorLink__4141a {
    background: #00b0f44a;
}
.lookOutlined__014b5.colorPrimary_ebe632 {
    background: #ffffff4a;
}
.lookOutlined__014b5.colorRed__5a617 {
    background: #f047474a;
}
.lookOutlined__014b5.colorWhite__3526f {
    background: #ffffff4a;
}
.lookOutlined__014b5.colorBrand__65cd6 {
    background: #7289da4a;
}
