.backdrop__1a911 {
    background: #00000055 !important;
    opacity: 1 !important;
}
.inner_cd7171 {
    background: none;
}
.root_a28985 {
    background: none;
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.8);
    border-radius: var(--chattyBorderRadius);
}
.inner_cd7171 .body_bd4552 {
    background: #00000066;
}
.connectedAccount__75282 {
    border: none;
    background: #00000066;
    border-radius: var(--chattyBorderRadius);
}
.userInfoSection_e816c1 + .userInfoSection_e816c1 {
    border-top: none;
}
.lookFilled__950dd.colorGreen__75c93 {
    background: #00000066;
    border-radius: var(--chattyBorderRadius);
}
.lookInverted_a299dc.colorGreen__75c93 {
    background: #1db954a8;
    color: #fff;
    border-radius: var(--chattyBorderRadius);
}
.lookInverted_a299dc.colorGreen__75c93:hover {
    background: #1db954ff;
}
.lookFilled__950dd.colorGreen__75c93:hover {
    background: #7289daa8;
}
.lookInverted_a299dc.colorBrand__27d57 {
    background: #7289daa8;
    border-radius: var(--chattyBorderRadius);
    color: #fff;
}
.lookInverted_a299dc.colorBrand__27d57:hover {
    background: #7289daff;
}
.tabBarContainer_b283be {
    border-top: none;
    height: 40px;
}
.tabBar__35f81 {
    height: 40px;
}
