.backdrop__1a911 {
    background: #00000055 !important;
    opacity: 1 !important;
}
.inner_f61848 {
    background: none;
}
.root_f9a4c9 {
    background: none;
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.8);
    border-radius: var(--chattyBorderRadius);
}
.inner_f61848 .body_b9fccc {
    background: #00000066;
}
.connectedAccount_f3eb60 {
    border: none;
    background: #00000066;
    border-radius: var(--chattyBorderRadius);
}
.userInfoSection_a24910 + .userInfoSection_a24910 {
    border-top: none;
}
.lookFilled_dd4f85.colorGreen_dd4f85 {
    background: #00000066;
    border-radius: var(--chattyBorderRadius);
}
.lookInverted_a299dc.colorGreen_dd4f85 {
    background: #1db954a8;
    color: #fff;
    border-radius: var(--chattyBorderRadius);
}
.lookInverted_a299dc.colorGreen_dd4f85:hover {
    background: #1db954ff;
}
.lookFilled_dd4f85.colorGreen_dd4f85:hover {
    background: #7289daa8;
}
.lookInverted_a299dc.colorBrand_dd4f85 {
    background: #7289daa8;
    border-radius: var(--chattyBorderRadius);
    color: #fff;
}
.lookInverted_a299dc.colorBrand_dd4f85:hover {
    background: #7289daff;
}
.tabBarContainer_b9fccc {
    border-top: none;
    height: 40px;
}
.tabBar_b9fccc {
    height: 40px;
}
