.backdrop__7e89b {
    background: #00000055 !important;
    opacity: 1 !important;
}
.inner_cd7171 {
    background: none;
}
.root_a28985 {
    background: none;
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.8);
    border-radius: var(--chattyBorderRadius);
}
.inner_cd7171 .body_ea740e {
    background: #00000066;
}
.connectedAccount__28fb0 {
    border: none;
    background: #00000066;
    border-radius: var(--chattyBorderRadius);
}
.userInfoSection__1daf8 + .userInfoSection__1daf8 {
    border-top: none;
}
.lookFilled__19298.colorGreen__5f181 {
    background: #00000066;
    border-radius: var(--chattyBorderRadius);
}
.lookInverted_ee4261.colorGreen__5f181 {
    background: #1db954a8;
    color: #fff;
    border-radius: var(--chattyBorderRadius);
}
.lookInverted_ee4261.colorGreen__5f181:hover {
    background: #1db954ff;
}
.lookFilled__19298.colorGreen__5f181:hover {
    background: #7289daa8;
}
.lookInverted_ee4261.colorBrand_b2253e {
    background: #7289daa8;
    border-radius: var(--chattyBorderRadius);
    color: #fff;
}
.lookInverted_ee4261.colorBrand_b2253e:hover {
    background: #7289daff;
}
.tabBarContainer__63f55 {
    border-top: none;
    height: 40px;
}
.tabBar__35f81 {
    height: 40px;
}
