.layers__1c917 {
    .layer_f7d46a {
        background: transparent;
        .standardSidebarView__12528 {
            background: transparent;
            margin: var(--chattyPadding);
            .sidebarRegion__36437 {
                margin-right: var(--chattyPadding);
                flex: 0 0 218px;
                border-radius: var(--chattyBorderRadius);
                overflow: hidden;
                background: transparent;
                .sidebar__02e8d {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background: transparent;
                }
                .sidebarRegionScroller__8113e {
                    background: rgba(0, 0, 0, 0.6);
                }
            }
            .contentRegion__08eba {
                width: 100px;
                background: transparent;
                border-radius: var(--chattyBorderRadius);
                overflow: hidden;
                .contentRegionScroller__9ae20 {
                    background: rgba(0, 0, 0, 0.6);
                    .contentColumn__5f80b {
                        max-width: 100%;
                        .background__4e802 {
                            border-radius: var(--chattyBorderRadius);
                            background: rgba(0, 0, 0, 0.3);
                            padding: 20px;
                            .avatarUploaderInner__71578 {
                                border-radius: var(--chattyBorderRadius);
                            }
                            .fieldList__4e6dd {
                                border-radius: var(--chattyBorderRadius);
                                background: rgba(0, 0, 0, 0.3);
                            }
                        }
                    }
                }
            }
        }
    }
}
