.layers_d4b6c5 {
    .layer_d4b6c5 {
        background: transparent;
        .standardSidebarView_c25c6d {
            background: transparent;
            margin: var(--chattyPadding);
            .sidebarRegion_c25c6d {
                margin-right: var(--chattyPadding);
                flex: 0 0 218px;
                border-radius: var(--chattyBorderRadius);
                overflow: hidden;
                background: transparent;
                .sidebar_c25c6d {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background: transparent;
                }
                .sidebarRegionScroller_c25c6d {
                    background: rgba(0, 0, 0, 0.6);
                }
            }
            .contentRegion_c25c6d {
                width: 100px;
                background: transparent;
                border-radius: var(--chattyBorderRadius);
                overflow: hidden;
                .contentRegionScroller_c25c6d {
                    background: rgba(0, 0, 0, 0.6);
                    .contentColumn_c25c6d {
                        max-width: 100%;
                        .background_b69b77 {
                            border-radius: var(--chattyBorderRadius);
                            background: rgba(0, 0, 0, 0.3);
                            padding: 20px;
                            .avatarUploaderInner_ab876d {
                                border-radius: var(--chattyBorderRadius);
                            }
                            .fieldList_b69b77 {
                                border-radius: var(--chattyBorderRadius);
                                background: rgba(0, 0, 0, 0.3);
                            }
                        }
                    }
                }
            }
        }
    }
}
