.layers__1c917 {
    .layer__2efaa {
        background: transparent;
        .standardSidebarView-3F1I7i {
            background: transparent;
            margin: var(--chattyPadding);
            .sidebarRegion__60457 {
                margin-right: var(--chattyPadding);
                flex: 0 0 218px;
                border-radius: var(--chattyBorderRadius);
                overflow: hidden;
                background: transparent;
                .sidebar__9e3e2 {
                    padding-top: 15px;
                    padding-bottom: 15px;
                    background: transparent;
                }
                .sidebarRegionScroller__1fa7e {
                    background: rgba(0, 0, 0, 0.6);
                }
            }
            .contentRegion__0bec1 {
                width: 100px;
                background: transparent;
                border-radius: var(--chattyBorderRadius);
                overflow: hidden;
                .contentRegionScroller__86c79 {
                    background: rgba(0, 0, 0, 0.6);
                    .contentColumn_dc7d36 {
                        max-width: 100%;
                        .background_b61fcc {
                            border-radius: var(--chattyBorderRadius);
                            background: rgba(0, 0, 0, 0.3);
                            padding: 20px;
                            .avatarUploaderInner-yEhTv5 {
                                border-radius: var(--chattyBorderRadius);
                            }
                            .fieldList_aab0de {
                                border-radius: var(--chattyBorderRadius);
                                background: rgba(0, 0, 0, 0.3);
                            }
                        }
                    }
                }
            }
        }
    }
}
