#app-mount {
    background-image: var(--chattyBackgroundImage);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    .typeWindows_e41dab {
        backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
        background: #934039;
        background: transparent;
        height: 18px;
        margin-top: 0px;
        padding-top: 5px;
    }
    .app_de4237 {
        background: transparent;
        backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
        .bg__12180 {
            background: transparent;
        }
        .wrapper__216eb {
            background: transparent;
            padding-top: 6px;
            .scroller_de945b {
                background: transparent;
                .listItem__48528 {
                    .wrapper_b4903b {
                        .svg__34dd4 {
                            overflow: hidden;
                            mask {
                                display: none;
                            }
                        }
                        .wrapper__8436d {
                            border-radius: 100%;
                            overflow: hidden;
                        }
                        .wrapper__8436d.selected_ae80f7 {
                            border-radius: var(--chattyBorderRadius);
                        }
                        .circleIconButton__05cf2 {
                            border-radius: var(--chattyBorderRadius);
                            background: rgba(0, 0, 0, 0.4);
                        }
                        .folderIconWrapper__11165 {
                            border-radius: var(--chattyBorderRadius);
                            overflow: hidden;
                        }
                        .folder__17546 {
                            background: transparent;
                        }
                    }
                }
                .wrapper__832f2 {
                    .expandedFolderBackground_b1385f {
                        background: rgba(0, 0, 0, 0.4);
                        border-radius: var(--chattyBorderRadius);
                        padding-top: 48px;
                        margin-bottom: 17px;
                    }
                }
            }
        }
        .sidebar_e031be {
            background: rgba(0, 0, 0, 0.4);
            border-radius: var(--chattyBorderRadius);
            margin-top: 5px;
            margin-bottom: var(--chattyPadding);
            .container__7e23c {
                background: transparent;
                .header__77c95 {
                    box-shadow: none;
                }
            }
            .privateChannels__9b518 {
                background: transparent;
                .searchBar__621ec {
                    box-shadow: none;
                    .searchBarComponent__8f95f {
                        text-align: center;
                        background: rgba(0, 0, 0, 0.4);
                        color: #888;
                    }
                }
                .scroller__89969 {
                    background: transparent;
                }
            }
            .panels__58331 {
                background: transparent;
            }
        }
        .container_bd15da {
            background: rgba(0, 0, 0, 0.6);
            margin: var(--chattyPadding);
            margin-top: 5px;
            border-radius: var(--chattyBorderRadius);
            .container__26baa.themed_b152d4 {
                background: rgba(0, 0, 0, 0.4);
                .children_cde9af::after {
                    display: none;
                }
            }
            .actionButton__2b4bb {
                border-radius: var(--chattyBorderRadius);
                background: rgba(0, 0, 0, 0.4);
            }
            .nowPlayingColumn_b025fe {
                background: transparent;
                .consentCard_ea523e {
                    background: rgba(0, 0, 0, 0.4);
                }
                .itemCard_b64118 {
                    background: rgba(0, 0, 0, 0.4);
                }
            }
        }
        .chat__52833 {
            background: rgba(0, 0, 0, 0.5);
            margin: var(--chattyPadding);
            margin-top: 5px;
            border-radius: var(--chattyBorderRadius);
            .container__26baa.themed_b152d4 {
                background: transparent;
                .children_cde9af:after {
                    opacity: 0;
                }
                .searchBar__5a20a {
                    background: rgba(0, 0, 0, 0.4);
                }
            }
            .content__01e65:before {
                display: none;
            }
            .messagesWrapper_add28b {
                background: transparent;
                .blockquoteDivider__5cbad {
                    width: 0px;
                }
                blockquote {
                    background: rgba(0, 0, 0, 0.4);
                    border-radius: var(--chattyBorderRadius);
                    padding: 8px;
                }
                .imageWrapper__178ee {
                    border-radius: var(--chattyBorderRadius);
                    box-shadow: var(--elevationHigh);
                    transition: 0.2s ease-in-out;
                }
                .imageWrapper__178ee:hover {
                    transform: scaleY(1.02) scaleX(1.02);
                }
                .video__83189 {
                    border-radius: var(--chattyBorderRadius);
                    box-shadow: var(--elevationHigh);
                }
                .embedFull__14919 {
                    background: rgba(0, 0, 0, 0.4);
                    border-left: 0px;
                    border-bottom: var(--chattyBorderRadius) solid;
                    border-radius: var(--chattyBorderRadius);
                    box-shadow: var(--elevationHigh);
                    .grid__35551 {
                        padding-top: 3px;
                        padding-bottom: 10px;
                    }
                }
            }
            .form_d8a4a1:before {
                opacity: 0;
            }
            .channelTextArea_c2094b {
                background: rgba(0, 0, 0, 0.4);
                border-radius: var(--chattyBorderRadius);
                .scrollableContainer_ff917f {
                    background: transparent;
                }
            }
            .members__573eb {
                background: transparent;
                > div {
                    background: transparent;
                }
            }
            .container__3a30a,
            .container__03ec9 {
                background: transparent;
            }
        }
        .noChannel__28db0 {
            // maybe = noChannel__28db0
            background: transparent;
            border-radius: var(--chattyBorderRadius);
            margin: var(--chattyPadding);
            margin-top: 5px;
            .image__08515 {
                display: none;
            }
            .flexChild__3da10 {
                background: rgba(0, 0, 0, 0.4);
                padding: 20px;
                border-radius: var(--chattyBorderRadius);
                .title__496be {
                    color: #f53e3e;
                    text-shadow: #f53e3e 0px 0px 0px;
                    transition: 0.4s ease-in-out;
                }
                .title__496be:hover {
                    text-shadow: #f53e3e 0px 0px 20px;
                }
                .text__0e310 {
                    color: #c0c0c0;
                }
            }
        }
    }
}
*::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.6);
    border-radius: var(--chattyBorderRadius);
}
*::-webkit-scrollbar-track-piece {
    background: transparent;
    border: transparent;
}
code {
    background: rgba(0, 0, 0, 0.6);
    border: none;
    border-radius: var(--chattyBorderRadius);
}

// Things added by Light#0853

// RTC Connection Status Card
.theme-dark .container__13b2a .section__38f83 {
    background: rgba(0, 0, 0, 0);
}
.container__13b2a {
    width: 250px;
    border-radius: var(--chattyBorderRadius);
    -webkit-box-shadow: var(--elevation-high);
    box-shadow: var(--elevation-high);
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
}

// Screen Sharing Card
.theme-dark .footer-31IekZ {
    background: #00000000;
    box-shadow: inset 0 1px 0 rgba(47, 49, 54, 0.6);
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
}
.backdropWithLayer-3_uhz4 {
    opacity: 1;
    background: rgba(0, 0, 0, 0.4);
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
}

// Screen Sharing Grid
.wrapper__6bf2d {
    z-index: 2;
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    background: transparent;
    overflow: hidden;
}

// Connected Users and Total User Text Color

.wrapper__71278 {
    color: rgba(255, 255, 255, 0.7);
}
// Last Message Date Text Color

.content__7191e {
    color: rgba(255, 255, 255, 0.7);
}

// [Game Activity] Added Games Hover

.theme-dark .card_dc88cd:before {
    background: rgba(0, 0, 0, 0.3);
    border-color: var(--background-primary);
}

// [Game Activity] Add Game Menu

.theme-dark .addGamePopout__61649 {
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
}

// Server Roles

.scroller_c92337 {
    background: transparent;
}

// Floating Menus

.menu__088f7 {
    border-radius: var(--chattyBorderRadius);
    // still not found how to bg blur without buggging the "add reaction" section
}

// Rapid Reactions BG

.button_bfb8e1 {
    background: rgba(0, 0, 0, 0.3);
}

// Rapid Actions on Messages

.wrapper__4e6b6 {
    background: rgba(0, 0, 0, 0.3);
}

// Custom Discord Text

.wordmark__5b8c9 svg {
    width: 0px;
}
.theme-dark .wordmark__5b8c9:after {
    font-family: var(--font-headline);
    content: "Chatty";
    font-size: 12px;
    background: rgba(235, 235, 228, 0.521);
    background-size: 400% 400%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    position: absolute;
    top: 5px;
}

// User Popouts

.userProfileOuter__35e59 {
    border-radius: var(--chattyBorderRadius);
    background: transparent;
    box-shadow: 0px 0px 20px black;
}

div[id^="popout_"] {
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
    border-radius: var(--chattyBorderRadius);
}

.userProfileInner__8ff35,
.userProfileInner__8ff35:before {
    background: transparent;
}

.overlayBackground__345c9 {
    background: transparent;
    margin: 20px 10px 10px;
}

.profileBadges__1f2ab {
    background: transparent;
    box-shadow: 0px 0px 15px -3px black;
}
.accountProfilePopoutWrapper_d4887f {
    left: 0px;
}

// Profile Modal

.root_a28985 {
    border-radius: var(--chattyBorderRadius);
    background: transparent;
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
}

.body__07791,
.topSection__2d8b8 {
    background: transparent;
}

.avatar__445f3 {
    background: transparent;
}

.connectedAccountContainer__5972d {
    border-radius: var(--chattyBorderRadius);
}

.badgeList__126b0 {
    background: transparent;
    border-radius: var(--chattyBorderRadius);
    padding-right: 2px;
    padding-left: 5px;
    padding-top: 3px;
}

//-------------------------------------

// Font Changed Things

// Server Names

.name_e8e549 {
    font-family: var(--font-headline);
}

// Buttons
.lookFilled__950dd .contents__322f4,
.lookFilled__9c1ef .contents__322f4,
.lookInverted_a299dc .contents__322f4,
.lookLink_a2da25 .contents__322f4,
.lookOutlined__014b5 .contents__322f4,
.button_b82d53.buttonColor__7bad9,
.button_b82d53 .buttonColor__7bad9 {
    font-family: var(--font-headline);
}

// Roles Groups

.membersGroup_cad095 {
    font-family: var(--font-headline);
}

//-------------------------------------

//Spotify "Add to Playlist"

.modal__060da {
    background: transparent;
}

.header-1zd7se {
    background: rgba(0, 0, 0, 0.6);
}

.content-2hZxGK {
    background: rgba(0, 0, 0, 0.4);
}

.footer-31IekZ {
    background: rgba(0, 0, 0, 0.6);
}

.playlist {
    background: rgba(0, 0, 0, 0.5);
}

// Server Roles *updated*

.contentRegion__08eba {
    background: rgba(0, 0, 0, 0.3);
}

.contentRegionScroller__9ae20 {
    background: rgba(0, 0, 0, 0);
}

.contentWidth_f1e6d4 {
    max-width: none;
}

.stickyHeader-hH_ZLl {
    border-radius: var(--chattyBorderRadius);
}

.list__41249 {
    background: rgba(0, 0, 0, 0.6);
}

.page_c3ed26 {
    max-width: none;
}

.titleContainer_d09261 {
    background: none;
}

.toolsContainer__4e6ad {
    padding-top: 20px;
}

.scroller__16794 {
    background: rgba(0, 0, 0, 0.6);
}

.scroller_bcb155 {
    background: rgba(0, 0, 0, 0.6);
}

.list__8e7c9 {
    background: rgba(0, 0, 0, 0.6);
}

.scroller-1J_F7B {
    background: rgba(0, 0, 0, 0.6);
}

.contentColumn__5f80b,
.customColumn__0b6a6 {
    max-width: none;
}

.headerDefault__15513,
.headerClickable_dfc964 {
    background: rgba(0, 0, 0, 0.4);
}

// Server List Scroller
.scroller_de945b {
    background: transparent;
}

.powerclock.sticky {
    background: transparent;
    box-shadow: none;
}

.guilds__2b93a {
    background: transparent;
}

// Chat

// #app-mount .app_de4237 .chat__52833 {
//    background: rgba(0, 0, 0, 0.5);
// }

//PiP Video

.pictureInPictureWindow__9f0e6 {
    box-shadow: 0px 0px 50px black;
}

// -------------------------------------

// My account page fix

.accountProfileCard__744d8 {
    background: transparent;
    background: transparent;
    backdrop-filter: blur(var(--chattyBlur)) brightness(0.7);
    border-radius: var(--chattyBorderRadius);
}

.accountProfileCard__744d8 {
    box-shadow: 0px 0px 20px black;
}

.settingsBanner__01382 {
    height: 250px;
}

.avatar__6c108 {
    top: 80px;
    left: 18px;
    border: 6px solid transparent;
    background: transparent;
}

.fieldList__4e6dd {
    background: transparent;
}

// -------------------------------------

// Chat overlay bug fix

.scroller_e412fe {
    bottom: 10px;
}

// Threads -- 11 september 2022

.container__26baa.themed_b152d4 {
    background: transparent;
}

.floating__8f631 {
    background: var(--background-floating);
    border-left: none;
    filter: none;
    -webkit-filter: none;
    max-height: 60%;
}

.container__694a1 {
    background: rgba(0, 0, 0, 0.5);
    margin: var(--chattyPadding);
    margin-top: 5px;
    margin-left: 5px;
    border-radius: var(--chattyBorderRadius);
}

.threadSidebarOpen__62c31 {
    margin-right: 5px;
}

.threadSidebarFloating__4f63d {
    margin-right: var(--chattyPadding);
}

// Nitro Page

.applicationStore__444b9 {
    background: transparent;
    margin: var(--chattyPadding);
    margin-top: 5px;
}

.homeWrapperNormal__34a23 {
    background: rgba(0, 0, 0, 0.4);
    border-radius: var(--chattyBorderRadius);
}

.scroller__244e5 {
    background: transparent;
}

// Video Grid Fix
.callContainer__1477d {
    background: transparent;
}

//--------

// members bar fix --- 04 january 2022
.container_f79ab4 {
    background: transparent;
}

.close-1mLglB {
    color: rgb(0, 0, 0);
}

.base-21yXnu {
    color: white;
}

.container__9dd63:hover {
    background: rgba(255, 255, 255, 0.609);
}

// "no one else is here yet. invite people to join you!" card background remove
.tile_a411a4 {
    background: transparent;
}

.button_c5d028 {
    background: #f47fff;
}

// Video and Screen share buttons

.buttonIcon__64412 {
    width: 15px;
    height: 15px;
}

// profile customization screen fix

.contentColumnWide__146ec {
    padding-left: 80px;
}

// voice chat connected users icons

.avatarSmall__85dc8 {
    width: 26px;
    height: 26px;
}

// Post Q&A

.container_b92032 {
    background: transparent;
}

.container__68e43 {
    background: transparent;
}
